# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore operating system files
.DS_Store

# Ignore package-lock.json (npm)
package-lock.json

# Ignore yarn.lock (Yarn)
yarn.lock

# Ignore editor-specific files
.vscode/
.idea/

# Ignore test coverage reports
coverage/